
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
      
        $(".lienhe").addClass("active");
    })
</script>
<h1>Liên hệ</h1>
@*<div id="map" style="height:400px"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB7pADt8Q7hX0WECCLFAfOkw8O3eEs0qg&callback=initMap" async defer></script>*@